<div id="single-post-container">
  <div id="post-card">
    <div class="post-header">
      <div class="profile-container">
        <img src="/static/img/bbe.png" alt="">
      </div>
      <div class="usr-time">
        <h4>{{username}}</h4>
        <p>{{timestamp}}</p>
      </div>
    </div>
    <div class="text-container">
      <p>{{text}}</p>
    </div>
    
    {{#if images}}
      <div class="media-container">
        
        {{#each images}}
        {{!-- {{title}} --}}
        <img src="/static/uploads/{{fileName}}">
        {{/each}}
      </div>
    {{/if}}
    {{#if fileName}}
      <div class="media-container">
        <video controls>
          <source src="/static/uploads/{{fileName}}" type="video/mp4">
        </video>
      </div>
      {{/if}}
  </div>
</div>